h1 {
    text-align: center;
    color:  #319d9d;
    background-color: #ceb6b6;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: auto;
    width: 70%;
    border-radius: 5px;
}

#image-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    text-align: center;
}

li {
    border: solid#319d9d 2px;
    border-radius: 5px;
    margin: 5px;
    color: 	#582737
}

img {
    width: 300px;
}

p {
    width: 300px;
    margin: 2px;
}

.tiny {
    background-color: 	#bae1e6;
}

.medium {
    background-color: #319d9d;
    color: #ceb6b6;
}

.large {
    background-color: #eef5fa;
}

.narwhal {
    background-image: url(./assets/sparkles.gif);
}

